/* Author: Nina Freyre Gentina
I know I'm missing layout possition. I'm trying to do it still and I'm not getting it. But I submit my task now.*/

:root {
    --primary-color: #083b72;
    --secondary-color: #fafaef;
    --accent1-color: #180703;
    --accent2-color: #ffc670;
   
    --main-border:  1px solid black;
}

header {
    background-color: var(--primary-color);
	display: grid;
   
	grid-template-columns: 120px 1fr 1fr 1fr;
    grid-template-rows: 200px; 
    grid-column-gap: 10px;
	align-content: space-around;
    justify-content: center;
   
	border-bottom: 1px solid #ccc;
	
   
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
  
}

.navigation {
    
    padding: 50px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
   
    align-content: space-between;
  
    height: 60px;
    

}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    background-image: cover;
    
}



h1 { 
    font-family: "Lora", serif;
    font-weight: 700;
    color: var(--accent1-color);
    text-align: center;
    font-size: 70px;
    
    
   
}

.div article {
    font-family: "Catamaran", sans-serif;
    font-weight: 400;
    text-align: center;
    image-orientation: right;
    
}


h2 {
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    color: var(--primary-color)
 
}

body {
    font-family: "Catamaran", sans-serif;
    font-weight: 400;
    background-color: var(--secondary-color);
    color: var(--accent1-color)
    
}

main {
    max-width: 840px;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    
}
a {
    text-decoration: none;
    color: var(--secondary-color)
}

